.h2{
    font-weight: 800;
    font-size: 2.5vh;
}

input, button{
    border: var(--defBorder);
    background-color: transparent;
    transition: var(--defTransition);
    font-size: 1vh;
    font-weight: 800;
    border-radius: var(--radius2);
    padding: 0.2vh;


}

button:hover{
    transition: var(--defTransition);
    background-color: var(--secondary);
    color: var(--main);
}

button{
    margin-top: 1.5vh;
}

.center{
    display: grid;
    justify-items: center;
    align-items: center;
}
nav{
    height: var(--navHeight);
    color: var(--main);
    font-size: 2vh;
    font-weight: var(--defFontWeight);
    font-family: bebasNeue;
    width: 100vw;
    background-color: var(--secondary);
    box-shadow: var(--softShadow);
}

nav ::selection{
    color: var(--secondary);
    background-color: var(--main);
}

body ::selection{
    background-color: var(--secondary);
    color: var(--main);
}

#content{
    background-color: var(--main);
    height: var(--contentHeight);
    box-shadow: var(--hardShadow);
}

section{
    width: 15vh;
    align-items: flex-end;
}

.see:hover{
    background-color: var(--secondary);
}

label{
    font-size: 1vh;
}

#Login{
    height: 20vh;
    aspect-ratio: 9/16;
    font-family: Alexandria;
    font-size: 1.5vh;
    font-weight: 800;
    box-shadow: none;
    padding: 2vh;
    column-gap: 1vh;
    border-radius: var(--radius);
    box-shadow: var(--hardShadow);
}
