#maintenance{
    display: grid;
    justify-content: center;
    align-items: center;
}

.maintenance-text{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vh;
}

.maint{
    translate: 0 -0.1vh;
}
