#main{
    margin-top: 10vh;
    margin-left: 10vw;
    width: 80vw;
    height: 84vh;
    box-shadow: var(--softShadow);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
