*{
    margin: 0;
    font-family: Alexandria;
}

#body{
    margin: 1vh;
    font-weight: 800;
}

  nav {
    display: flex;
    align-items: center;
    background-color: #2E3033;
    color: white;
    padding: 20px;
      column-width: 33vw;
  }

  nav div {
    flex: 1;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 10vw;
  }

  nav li {
    margin-left: 20px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a:hover,
  nav a.selected:hover {
    color: #6E644E;
    font-weight: normal;
  }

  nav a.selected {
    color: #6E644E;
    font-weight: bold;
  }

  #content{
      margin-top: 1vh;
      margin-left: 1vw;
      width: 98vw;
  }

progress {
    border: none;
}

progress::-webkit-progress-value {
    border-radius: 999px;
    background: #6E644E;
}

progress::-webkit-progress-bar {
    border-radius: 999px;
    background: #2E3033;
}

button, .fakeBut{
    color: var(--mainColor);
    text-decoration: none;
    background-color: transparent;
    font-weight: 800;
    border: var(--mainColor) 0.2vh solid;
    padding: 0.2vh;
    transition: 0.2s;
}

button:hover, .fakeBut:hover{
    transition: 0.2s;
    background-color: var(--mainColor);
    color: white;
}
