h2{
    color: var(--color3);
}

.main{
    padding: 5vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.head{
    border-bottom: 0.2vh solid var(--color3);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 15vh 15vh 15vh;
    text-align: center;
}

.back{
    text-align: left;
}

/* type */
#content{
    row-gap: 1vh;
    padding-top: 2vh;
    display: grid;
    justify-content: center;

}


.colorDiv{
    translate: 2vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 15vh auto;
    column-gap: 1vh;
    color: var(--color3);
}

.color{
    translate: 0 0.2vh;
    width: 1vh;
    height: 1vh;
    border: 0.2vh solid var(--color3);
    cursor: pointer;
    border-radius: 0.2vh;
}

.color1{
    background-color: var(--color1);
}

.color2{
    background-color: var(--color2);
}

.color3{
    background-color: var(--color3);
}
