#CreateUser{
    margin-top: 2vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto;
    box-shadow: var(--softShadow);
}

#CreateUserSelect{
    background-color: var(--main);
    outline: none;
    border: none;
    font-size: 1.5vh;
    color: var(--secondary);
    border-bottom: var(--defBorder);
    width: 10vw;
}

form{
    margin-top: 2vh;
    padding: 1vh 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    row-gap: 2vh;
    height: 30vh;
    box-shadow: var(--softShadow);
    border-radius: 1vh;
}

.Cinput{
    width: 10vw;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;

    font-size: 1.5vh;
    background-color: transparent;
    text-align: center;
    border: 0.2vh solid transparent;
    border-bottom: var(--defBorder);
    color: var(--secondary);
}

.Cinput::placeholder{
    color: var(--secondary);
}

#createUserBut{
    background-color: transparent;
    border: var(--defBorder);
    color: var(--secondary);
    font-size: 1.5vh;
    transition: 0.2s;
}

#createUserBut:hover{
    transition: 0.2s;
    background-color: var(--secondary);
    color: var(--main);
    cursor: pointer;
}

#passwordimg{
    transition: 0.2s;
    translate: 0 0.5vh;
    border-radius: 50%;
    border: var(--defBorder);
    border-color: transparent;
    padding: 0.2vh;
}

#passwordimg:hover{
    transition: 0.2s;
    border: var(--defBorder);
}

#passwordS{
    translate: 1vh;
}

#pin{
    opacity: 0;
}
