.adminContent{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 10vh;
    font-family: Alexandria;
    color: var(--secondary);
}

.button{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5vh;
    padding: 0.2vh;
    border: var(--defBorder);
    border-color: transparent;
    border-radius: 1vh;
    transition: var(--defTransition);
}

.button:hover{
    border: var(--defBorder);
    transition: var(--defTransition);
}

.adminButtons{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vh;
    padding: 1vh;
}

.colorFilter{
    filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(877%) hue-rotate(174deg) brightness(88%) contrast(92%);
    -webkit-filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(877%) hue-rotate(174deg) brightness(88%) contrast(92%);
}

